.cabinet input{
    display: block;
    border: none;
    background-color: #d9d9d9;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font: normal 26px 'Panton-ExtraLight', serif;
    outline: none;
    text-align: left;
    box-shadow: none;
    margin-bottom: 10px;
    position: relative;
    right: 10px;
    text-align: left;
}
.cabinet .inputs{
    float: right;
    width: calc(100% - 250px);
}
.cabinet .text{
    font: normal 20pt 'Panton-ExtraLight', serif;
    margin: 0;
    padding: 0;
}
.cabinet .text div{
    margin-bottom: 12px;
    margin-left:10px;
    font-weight: bold;
}
.cabinet .text span{
    float: right;
    margin-right:10px;
    width:300px;
    font-weight: normal;
}
