section .caption{
  background-color: #e8e8e8;
  width: 100%;
  height: 30px;
  border-bottom: 3px solid #4e4e4e;
  text-align: center;
  font: normal 28pt 'MyriadProRegular', serif;
  padding-top:0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
section .text{
  font: normal 20pt 'MyriadProRegular', serif;
  padding-left: 0px;
  padding-right: 0px;
}
.aside-subtitle{
    z-index: 2;
    position: relative;
    left: 8px;
    top: 72px;
    border-top: 19px solid rgba(137,135,136,0.6);
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    height: 0;
    width: 232px;
}
.aside-title{
  width: 290px;
  height: 30px;
  background-color: inherit;
  margin:auto;
  margin-top: 25px;
  font: normal 22pt 'MyriadProRegular', serif;
  text-align: center;
  border: 1px solid #CCCCCC;
  position: relative;
  z-index: 25;
  left: -10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}
.aside-subblock{
  z-index: 20;
  border: 1px solid #CCCCCC;
  width: 270px;
  margin:auto;
  position: relative;
  top:-5px;
  background-color: #FFFFFF;
}
body{
    width: 100%;
    margin: 0px auto;
    min-height:1000px;
    background: url('/img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    width: 100%;
    position: relative;
    margin: auto;
    min-width: 900px;
    margin-top: 100px;
}
.header img{
  width: 100%;
}
section{
    width: 570px;
    height: auto;
    border: 3px solid #4e4e4e;
    border-radius: 2px;
    background-color: #FFFFFF;
}
.menu{
    width: 30%;
    border: 3px solid #4e4e4e;
    height: 30px;
    background-color: #e8e8e8;
    font: normal 20pt 'MyriadProRegular', serif;
    min-width: 894px;
    margin: auto;
}
.menu ul{
    list-style: none;
    width: 420px;
    margin: auto;
    margin-top: 1px;
}
.menu ul li{
    display: inline;
    margin-left: 10px;
}
.menu a{
    text-decoration: none;
    color: #000000;
}
aside{
    float:right;
    height: 990px;
}
.content{
    margin: auto;
    width: 900px;
}
.aside-block{
    width: 305px;
    min-height: 100px;
    #border: 3px solid #4e4e4e;
    border-radius: 2px;
    margin-bottom: 16px;
    #background-color: #FFFFFF;
}
.auth{
    height: 368px;
}
.monitoring{
    height: 265px;
}
.voting{
    height: 281px;
}
.links{
    height: 358px;
}
@font-face {
    font-family: "MyriadProRegular";
    src: url("/css/MyriadProRegular.eot");
    src: url("/css/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("/css/MyriadProRegular.woff") format("woff"),
    url("/css/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Panton-ExtraBold";
    src: url("/css/Panton-ExtraBold.eot");
    src: url("/css/Panton-ExtraBold.eot?#iefix")format("embedded-opentype"),
    url("/css/Panton-ExtraBold.woff") format("woff"),
    url("/css/Panton-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Panton-ExtraLight";
    src: url("/css/Panton-ExtraLight.eot");
    src: url("/css/Panton-ExtraLight.eot?#iefix")format("embedded-opentype"),
    url("/css/Panton-ExtraLight.woff") format("woff"),
    url("/css/Panton-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.inf-block .caption{
    font: normal 40pt 'Panton-ExtraBold', serif;
}
.inf-block .text{
    font: normal 16pt 'MyriadProRegular', serif;
}
.inf-block{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 900px;
}
footer{
    font: normal 20pt 'Panton-ExtraLight', serif;
    margin: auto;
    width: 750px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.auth input[type="text"], input[type="password"]{
    display: block;
    width: 250px;
    height: 36px;
    margin: auto;
    font: normal 15pt 'Panton-ExtraLight';
    color: #000000;
    text-align: center;
    background-color: #e3f5ff;
    border: none;
    box-shadow: 0px 0px 2px 0px #000000;
    z-index: 2;
}
.auth input[type="checkbox"]{
  display: inline-block;
  text-align: center;
  margin: auto;
}
.auth form{
    margin: auto;
    width: 100%;
    #border: 1px solid #CCCCCC;
    #box-shadow: 0px 0px 3px 0px #000000;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 1;
    text-align: center;
}
.auth form button{
    display: block;
    border: 4px solid #a4a4a4;
    border-radius: 18px;
    background-color: inherit;
    min-width: 188px;
    min-height: 46px;
    margin:auto;
    text-align: center;
    margin-top: 10px;
    font: normal 20pt 'MyriadProRegular', serif;
}
.main-button{
    display: block;
    border: 4px solid #a4a4a4;
    border-radius: 18px;
    background-color: inherit;
    min-width: 188px;
    min-height: 46px;
    margin:auto;
    text-align: center;
    margin-top: 10px;
    font: normal 20pt 'MyriadProRegular', serif;
    outline: none;
}
.alert-error{
    background-color: rgba(220, 83, 83, 0.6);
    border: 2px solid rgba(194, 52, 52, 0.8);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 70%;
    margin:auto;
    color:#9e1a00;
}
.alert-success{
    background-color: rgba(59, 172, 59, 0.6);
    border: 2px solid rgba(21, 136, 21, 0.8);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 70%;
    margin:auto;
    color:#134c15;
}
.auth-menu{
    list-style: none;
    font: normal 18pt 'MyriadProRegular', serif;
    line-height: 40px;
}
.auth-menu a{
    text-decoration: none;
    color: #000000;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
}
.auth-menu a:hover{
    color: rgba(70, 70, 70, 0.7);
}
