.reg-input[type="password"],[type="text"]{
    display: inline-flex;
    border: none;
    background-color: #d9d9d9;
    height: 26px;
    line-height: 26px;
    font: normal 26px 'Panton-ExtraLight', serif;
    margin-bottom: 18px;
    outline: none;
    position: relative;
    top:4px;
    right:0px;
    left: 5px;
    text-align: left;
    box-shadow: none;
    width: 300px;
}
.reg-block{
    font: normal 20pt 'Panton-ExtraLight', serif;
    margin-left: 15px;
}
.inputs{
    float: right;
    width: calc(100% - 220px);
}
.text{
    font: normal 10pt 'Panton-ExtraLight', serif;
    margin: 0;
    padding: 0;
}
.text div{
    margin-bottom: 10px;
}
