.settings-form input[type='password'], input[type='text']{
    display: block;
    border: none;
    background-color: #d9d9d9;
    width: 100%;
    height: 26px;
    line-height: 26px;
    font: normal 26px 'Panton-ExtraLight', serif;
    outline: none;
    text-align: left;
    box-shadow: none;
    margin-bottom: 19px;
    position: relative;
    right:10px;
}
.settings-form .inputs{
    float: right;
    width: calc(100% - 250px);
}
.settings-form .text{
    font: normal 20pt 'Panton-ExtraLight', serif;
    margin: 0;
    padding: 0;
    margin-left:10px;
}
.settings-form .text div{
    margin-bottom: 12px;
}
.settings-form{
    margin-bottom: 70px;
}
.settings-title{
    font-size: 24pt;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.settings-skin{
    border: 5px solid #787878;
    background-color: #dadada;
    width: 95%;
    height: 328px;
    margin-left:10px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn {
   border: 1px solid #093e5c;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#3c98d6), to(#3e779d));
   background: -webkit-linear-gradient(top, #3c98d6, #3e779d);
   background: -moz-linear-gradient(top, #3c98d6, #3e779d);
   background: -ms-linear-gradient(top, #3c98d6, #3e779d);
   background: -o-linear-gradient(top, #3c98d6, #3e779d);
   background-image: -ms-linear-gradient(top, #3c98d6 0%, #3e779d 100%);
   padding: 9.5px 19px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #235675 0 1px 0;
   color: #d1d100;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   width: 70px;
   margin: auto;
   margin-top: 10px;
   }
.btn:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #11669e;
   background: -webkit-gradient(linear, left top, left bottom, from(#1a86c9), to(#11669e));
   background: -webkit-linear-gradient(top, #1a86c9, #11669e);
   background: -moz-linear-gradient(top, #1a86c9, #11669e);
   background: -ms-linear-gradient(top, #1a86c9, #11669e);
   background: -o-linear-gradient(top, #1a86c9, #11669e);
   background-image: -ms-linear-gradient(top, #1a86c9 0%, #11669e 100%);
   color: #d1d100;
   }
.btn:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #3178a8;
   background: -webkit-gradient(linear, left top, left bottom, from(#157dc2), to(#11669e));
   background: -webkit-linear-gradient(top, #157dc2, #3178a8);
   background: -moz-linear-gradient(top, #157dc2, #3178a8);
   background: -ms-linear-gradient(top, #157dc2, #3178a8);
   background: -o-linear-gradient(top, #157dc2, #3178a8);
   background-image: -ms-linear-gradient(top, #157dc2 0%, #3178a8 100%);
   color: #d1d100;
   }
