.ma{
    text-align: center;
    font-size: 25pt;
    margin-bottom: 20px;
}
.ma form{
    font: normal 20pt 'Panton-ExtraLight', serif;
}
.ma input{
    display: inline-flex;
    align-content: stretch;
    border: none;
    background-color: #d9d9d9;
    width: auto;
    height: 26px;
    line-height: 26px;
    font: normal 26px 'Panton-ExtraLight', serif;
    margin-bottom: 11px;
    position: relative;
    top:4px;
    outline: none;
    text-align: left;
    box-shadow: none;
}
.ma table{
    width: 100%;
    font: normal 12pt 'Panton-ExtraLight', serif;
}
