<div class="cabinet">
    <div class="text">
        <div>E-Mail: <span><mail></span></div>
        <div>Баланс: <span><money></span></div>
        <div>Последний вход: <span><lastLogin></span></div>
        <div>Язык: <span><lang></div>
        <div>Дата регистрации: <span><dateREG></span></div>
    </div>
</div>
