<div style="font: normal 20pt MyriadProRegular; text-align:center; text-decoration: underline;">Обратная связь

<br>
<form style="font: normal 19pt MyriadProRegular; text-align:left;text-decoration:none;">
Ник: <input type="text">
</form>
</div>
