<script>
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
function ResetPass(ses, npass)
{
    if(!npass.match(regexes["PASSWORD"]))
    {
        AlertError("Пароль введен неверно! В пароле должны содержаться буквы латинского алфавита, одна цифра и одна заглавная буква.");
        return;
    }

    var vals = "&method=ResetPass&ses="+ses+"&pass="+npass;

    $.ajax({
    type: 'POST',
    url: '/php/worker.php',
    data: vals,
    async: false,
    success: function(data) {
        if(data.trim() == "SUCCESS")
        {
            AlertSuccess("Пароль успешно изменен.", 1000);
            setTimeout("location.href='/'", 1000);
        }
        else
        {
            if(messages[data]) data = messages[data];
            AlertError(data, 1000);
        }
    },
    error:  function(te, ar){
        AlertError(data, 1000);
    }
    });
}
</script>

<div id="restore">
    <form action="javascript: ;" method="post" onsubmit="javascript: restore($('#str', this).val());">
        Введите ваш E-Mail или ник: <input type="text" id="str">
        <button class="main-button" type="submit">Изменить</button>
    </form>
</div>

<div id="resetpassword" style="display: none;">
    <form action="javascript:;" method="post" onsubmit='javascript: ResetPass(getParameterByName("session"), $("#pass", this).val());'>
        Введите новый пароль: <input type="password" id="pass">
        <button type="submit" class="main-button">Изменить</button>
    </form>
</div>

<script>
var session = getParameterByName("session");

if(session)
{
    $('#restore').hide();
    $('#resetpassword').show();
}
</script>
