<script>
$(document).ready(function () {
});

function reg()
{
    var vals = $('#reg_form').serialize();

    $.ajax({
    type: 'POST',
    url: '/php/worker.php',
    data: vals,
    async: false,
    success: function(data) {
        if(data.trim() == "SUCCESS")
        {
            AlertSuccess("Вы успешно зарегистрировались !", 1000);
            setTimeout("location.href='/'", 1000);
        }
        else
        {
            if(messages[data]) data = messages[data];
            AlertError(data, 1000);
        }
    },
    error:  function(te, ar){
        AlertError(data, 1000);
    }
    });
}
</script>

<div class="reg-block">
    <form id="reg_form" method="post" action="javascript: void(null);" onsubmit="reg()">
        <div class="inputs">
            <input class="reg-input" type="text" name="username"><br>
            <input class="reg-input" type="password" name="password"><br>
            <input class="reg-input" type="password" name="repassword"><br>
            <input class="reg-input" type="text" name="mail"><br>
            <select name="lang"><option value="ru">Русский</option><option value="eng">English</option></select>
        </div>
        
        <div class="text">
            <div>Ник:</div>
            <div>Пароль:</div>
            <div>Повторите пароль:</div>
            <div>E-Mail:</div>
            <div>Язык:</div>
        </div>

        <input type="hidden" value="reg" name="method">
        <button class="main-button" type="sumbit">Регистрация</button>
    </form>
</div>
