<script>
    function change(type)
    {
        if(type == "mail")
        {
            var vals = $("#" + type + "-form").serialize() + "&method=changeMail";
        }

        if(type == "pass")
        {
            var vals = $("#" + type + "-form").serialize() + "&method=changePassword";
        }

        $.ajax({
        type: 'POST',
        url: '/php/worker.php',
        data: vals,
        async: false,
        success: function(data) {
            if(data.trim() == "SUCCESS")
            {
                AlertSuccess("Операция выполнена успешно !", 1000);
                setTimeout("location.reload()", 1000);
            }
            else
            {
                if(messages[data]) data = messages[data];
                AlertError(data, 1000);
            }

            $("#" + type + "-form")[0].reset();
        },
        error:  function(te, ar){
            AlertError(data, 1000);
        }
        });
    }

    function changeSkin()
    {
        var formData = new FormData($('#skinForm')[0]);

        $.ajax({
            type: 'POST',
            url: '/php/worker.php',
            data: formData,
            async: true,
            contentType: false,
            processData: false,
            success: function(data) {
                if(data.trim() == "SUCCESS")
                {
                    AlertSuccess("Операция выполнена успешно !", 1000);
                    setTimeout("location.reload()", 1000);
                }
                else
                {
                    if(messages[data]) data = messages[data];
                    AlertError(data, 1000);
                }
            },
            error:  function(te, ar){
                AlertError(data, 1000);
            }
        });
    }
</script>
<div class="settings-title">Изменение пароля</div>
<form class="settings-form" id="pass-form" action="javascript: void(null)" method="post" onsubmit="change('pass')">
    <div class="inputs">
        <input type="password" name="password">
        <input type="password" name="npassword">
        <input type="password" name="rpassword">
    </div>
    <div class="text">
        <div>Старый пароль</div>
        <div>Новый пароль</div>
        <div>Повторите пароль</div>
    </div>
    <button class="main-button" type="sumbit">Изменить</button>
</form>

<div class="settings-title">Изменение почты</div>
<form class="settings-form" id="mail-form" method="post" action="javascript: void(null)" onsubmit="change('mail')">
    <div class="inputs">
        <input type="password" name="password">
        <input type="text" name="nmail">
        <input type="text" name="rmail">
    </div>
    <div class="text">
        <div>Пароль</div>
        <div>Новый E-Mail</div>
        <div>Повторите E-Mail</div>
    </div>
    <button class="main-button" type="sumbit">Изменить</button>
</form>

<div class="settings-title">Изменение скина</div>
<div class="settings-skin">
    <div style="font: normal 15pt 'Panton-ExtraLight', serif; text-align: center;margin-top: 25px; width: 230px; border-right: 1px solid #CCCCCC; float: left;">
        <img src="/php/genpic.php?user_name=<nick>">
        <br>Скин в данный момент
    </div>
    <div style="display: inline-block; margin-top: 25px; width: 292px; text-align: center;">
        <img src="/php/genpic.php">
        <form id="skinForm">
            <div class="fileUpload btn">
                <span>Установить</span>
                <input type="file" class="upload" onchange="changeSkin()" name="skin"/>
            </div>
            <input type="hidden" name="method" value="skin">
        </form>
    </div>
</div>
