<div class="ma">
    Пополнение баланса
    <form>
        E-Mail: <input type="text"><br>
        Логин: <input type="text"><br>
        <button class="main-button" type="submit">Пополнить</button>
    </form>
</div>

<div class="ma">
    Премиум статусы
    <table>
        <thead>
            <th>Услуга</th><th>VIP</th><th>PREMIUM</th><th>PREMIUM+</th>
			<shop>
        </thead>
    </table>
</div>
